.pure-button-primary {
  background: #F84652;
  color: #F6F4F4;
  &:hover {
    background: rgb(173, 55, 69);
  }
}

.pure-button-secondary {
  background: #2C293E;
  color: #F84652;
  &:hover {
    background: rgb(54, 50, 77);
    color: rgb(231, 81, 91);
  }
}