@import 'mixins';

header {
  margin: 5% 0 0;
  text-align: center;
}

#buttonCon {
  text-align: center;
}

#characterCard {
  width: 60%;
  margin: 2% auto;
}

.stat-con {
  text-align: center;
  ul {
    list-style: none;
  }
}

.stat-title {
  text-transform: uppercase;
}
.base {
  font-size: 1.5em;
  position: relative;
  display: block;
}

.base-stat {
  width: 95px;
  @include vertical-align(relative, 10%);

}

.stat-box {
  display: inline-block;
  padding: 8px 0;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 1.2em;
}

.sub-stat {
  display: inline-block;
  .stat-box {
    margin: 10px 2px 20px;
    padding: 8px 0;
    width: 45px;
  }
}

ul {
  padding: 0;
  margin: 0;
}